#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQLib

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| VS Code with Python |
 3 |

### Below are a few examples of evaluating arithmetic expressions in Python.

In Python, you can perform various arithmetic operations using operators such as `+` (addition), `-` (subtraction), `*` (multiplication), `/` (division), and more. Here are some examples:

1. Addition:
   ```python
   result = 5 + 3
   print(result)  # Output: 8

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Understand the basics of Jupyter Notebooks.
- Learn how to create and format Markdown cells.
- Explore common Python libraries used in Data Science.
- Practice writing and executing simple arithmetic expressions in Python.
- Gain experience with creating and running code cells in a Jupyter Notebook.

## Author
Md Nayem HossainPT